// Responsive utilities
.container-fluid {
  width: 100%;
  padding-right: $spacing-md;
  padding-left: $spacing-md;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: $breakpoint-lg) {
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }
}

// Flexbox utilities
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Grid utilities
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$spacing-sm;
  margin-left: -$spacing-sm;
}

.col {
  flex: 1;
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
}

.col-12 { width: 100%; }
.col-11 { width: 91.666667%; }
.col-10 { width: 83.333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.666667%; }
.col-7 { width: 58.333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.666667%; }
.col-4 { width: 33.333333%; }
.col-3 { width: 25%; }
.col-2 { width: 16.666667%; }
.col-1 { width: 8.333333%; }

// Responsive breakpoints
@media (min-width: $breakpoint-sm) {
  .d-sm-flex { display: flex; }
  .d-sm-none { display: none; }
  
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.666667%; }
  .col-sm-10 { width: 83.333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.666667%; }
  .col-sm-7 { width: 58.333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.666667%; }
  .col-sm-4 { width: 33.333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.666667%; }
  .col-sm-1 { width: 8.333333%; }
}

@media (min-width: $breakpoint-md) {
  .d-md-flex { display: flex; }
  .d-md-none { display: none; }
  
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.666667%; }
  .col-md-10 { width: 83.333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.666667%; }
  .col-md-7 { width: 58.333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.666667%; }
  .col-md-4 { width: 33.333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.666667%; }
  .col-md-1 { width: 8.333333%; }
}

@media (min-width: $breakpoint-lg) {
  .d-lg-flex { display: flex; }
  .d-lg-none { display: none; }
  
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.666667%; }
  .col-lg-10 { width: 83.333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.666667%; }
  .col-lg-7 { width: 58.333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.666667%; }
  .col-lg-4 { width: 33.333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.666667%; }
  .col-lg-1 { width: 8.333333%; }
}

// Spacing utilities
.m-0 { margin: 0; }
.m-1 { margin: $spacing-xs; }
.m-2 { margin: $spacing-sm; }
.m-3 { margin: $spacing-md; }
.m-4 { margin: $spacing-lg; }
.m-5 { margin: $spacing-xl; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: $spacing-xs; }
.mt-2 { margin-top: $spacing-sm; }
.mt-3 { margin-top: $spacing-md; }
.mt-4 { margin-top: $spacing-lg; }
.mt-5 { margin-top: $spacing-xl; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: $spacing-xs; }
.mb-2 { margin-bottom: $spacing-sm; }
.mb-3 { margin-bottom: $spacing-md; }
.mb-4 { margin-bottom: $spacing-lg; }
.mb-5 { margin-bottom: $spacing-xl; }

.p-0 { padding: 0; }
.p-1 { padding: $spacing-xs; }
.p-2 { padding: $spacing-sm; }
.p-3 { padding: $spacing-md; }
.p-4 { padding: $spacing-lg; }
.p-5 { padding: $spacing-xl; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: $spacing-xs; }
.pt-2 { padding-top: $spacing-sm; }
.pt-3 { padding-top: $spacing-md; }
.pt-4 { padding-top: $spacing-lg; }
.pt-5 { padding-top: $spacing-xl; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: $spacing-xs; }
.pb-2 { padding-bottom: $spacing-sm; }
.pb-3 { padding-bottom: $spacing-md; }
.pb-4 { padding-bottom: $spacing-lg; }
.pb-5 { padding-bottom: $spacing-xl; }